# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database
*.sqlite3

# Environment variables
*.env

# macOS system files
.DS_Store

# IDE specific files
.vscode/
.idea/

# Log files
*.log
to_do.md
