{% extends 'base.html' %}
{% load static %}

{% block title %}Oops!{% endblock %}

{% block content %}
<!-- Page content-->
<div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="mb-4 text-center">Oops! Page not found!</h1>
                <h4 class="mb-4 text-center">The page you're looking for doesn't exist.</h4>
                <div class="d-flex justify-content-center fs-2 gap-4 mb-5">
                    <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
                </div>
                    
            </div>
        </div>
    </div>
</div>
{% endblock %}