{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page content-->
<div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="mb-4 text-center">Let’s connect!</h1>
                <h4 class="mb-4 text-center">If you’re curious about my work or just want to chat, send me a note or connect with me on social media. I’m always excited to meet new people!</h3>
                    <div class="d-flex justify-content-center fs-2 gap-4 mb-5">
                        {% include 'partials/links_to_socials.html' %}
                    </div>
                {% if success %}
                    <div class="d-flex justify-content-center fs-2 gap-2 mb-5" role="alert">
                        Thanks for reaching out! I'll get back to you soon.
                    </div>
                    <div class="d-flex justify-content-center gap-2 mb-3">
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'home' %}" style="width: 150px;">Home</a>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'blog' %}" style="width: 150px;">Blog</a>                        <!-- <a class="btn btn-outline-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="projects.html">Projects</a> -->
                    </div>
                {% else %}
                <form id="contactForm" method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value|default_if_none:'' }}"
                        placeholder="Enter your name" required>
                        {% if form.name.errors %}
                            <div class="text-danger">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}"
                        placeholder="Enter your email" required>
                        {% if form.email.errors %}
                            <div class="text-danger">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="5" name="message" value="{{ form.message.value|default_if_none:'' }}"
                        placeholder="Enter your message" required></textarea>
                        {% if form.message.errors %}
                            <div class="text-danger">{{ form.message.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}