{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome to CJ Loves Data!{% endblock %}

{% block content %}
<header class="pt-4 pb-1">
    <div class="container px-5 pb-">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-left text-xxl-start">
                    <div class="fs-3 fw-light text-muted text-center">Driven by</div>
                    <h1 class="display-3 fw-bolder mb-5 text-center"><span class="text-gradient d-inline">Curiosity, learning, and problem solving</span></h1>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'blog' %}">Blog</a>
                        <!-- <a class="btn btn-outline-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="projects.html">Projects</a> -->
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'resume' %}">Resume</a>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'contact' %}">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7">
                <!-- Header profile picture-->
                <div class="d-flex justify-content-center mt-5 mt-xxl-5">
                    <div class="profile">
                        <img class="profile-img" src="{% static 'assets/profile_home.png' %}" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section-->
<section class="bg-light py-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder mb-4"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">My name is CJ and I solve problems with data.</p>
                    <p class="text-muted">I’m a data engineer, data scientist, and back-end developer who enjoys solving complex problems with creativity. I build solutions that drive innovation and growth. When I’m not working, I’m exploring new tech or spending time with my beautiful wife and rescue dogs.</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        {% include 'partials/links_to_socials.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%  endblock %}