{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mb-5 vh-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center m-5">Resume</h1>
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center card-title mb-4">CJ Johanson</h2>
                        <p class="card-text">Senior Data Engineer with expertise in modernizing data architectures, building scalable ETL pipelines, and back-end development using Python, SQL, and machine learning. Experienced in optimizing cloud costs and driving data-driven decisions through collaboration with cross-functional teams.</p>
                        <h3 class="mt-4">Education</h3>
                        <ul>
                            <li><strong>University of Massachusetts Dartmouth</strong> - M.S. in Data Science (2023)</li>
                            <li><strong>Salem State University</strong> - B.S. in Political Science (2015)</li>
                            <li><strong>Salem State University</strong> - B.A. in Spanish Language and Literature (2015)</li>
                        </ul>
                        <h3 class="mt-4">Experience</h3>
                        <ul>
                            <li><strong>meQuilibrium</strong> - Senior Data Engineer (2022 - Present)</li>
                                <ul>
                                    <li>Modernize data stack to utilize cutting-edge tools to improve data pipeline performance and reduce cloud computing cost. Technologies involved: dbt, Snowflake, AWS, Airflow, Airbyte, Streamlit, Django.</li>
                                    <li>Design and implement a scalable data warehouse, consolidating data from 62 sources to support business operations and client analytics.</li>
                                    <li>Serve as subject matter expert for 3 product systems, spanning 70+ clients, 60+ user incentive programs, and exporting data to 20+ systems.</li>
                                    <li>Collaborate with cross-functional teams, including analysts, project managers, and engineers, developing data models and reports to enable faster, data-driven decision-making for key business strategies.</li>
                                </ul>
                            <li><strong>University of Massachusetts at Dartmouth</strong> - AI/ML Researcher (2022 – 2023)</li>
                                <ul>
                                    <li>Investigated generative AI techniques to simulate transient noise artifacts in ground-based gravitational wave detectors.</li>
                                    <li>Researched and designed Generative Adversarial Networks (GANs) to reproduce noise patterns effectively.</li>
                                    <li>Experimented with various network architectures and processing hardware (GPUs, TPUs) to optimize model performance.</li>
                                    <li>Utilized Python (PyTorch), NumPy, and deep learning frameworks for data analysis and model development.</li>
                                </ul>
                            <li><strong>Firefly Health</strong> - Analytics Engineer (2021 – 2022)</li>
                                <ul>
                                    <li>Led end-to-end analytics projects, driving insights to achieve business outcomes.</li>
                                    <li>Developed, tested, and maintained complex data models using dbt, SQL (Snowflake), and Git to support key operational data for specific business units.</li>
                                    <li>Experimented with various network architectures and processing hardware (GPUs, TPUs) to optimize model performance.</li>
                                    <li>Collaborated with stakeholders to create impactful business intelligence reports in Looker, influencing data-driven decisions.</li>
                                </ul>
                            <li><strong>Definitive Healthcare</strong> - Data Analyst (2020 – 2021)</li>
                                <ul>
                                    <li>Leveraged SQL, Python, and Excel to generate quantitative reports from large-scale healthcare data, addressing client business challenges.</li>
                                    <li>Collaborated with colleagues and clients to deliver high-quality, polished reports, ensuring accuracy and timely delivery.</li>
                                    <li>Engaged with customers and stakeholders to identify data use cases, uncover reporting opportunities, and implement optimized data solutions.</li>
                                </ul>
                            <li><strong>Springboard</strong> - Data Science Fellow (2020 – 2020)</li>
                                <ul>
                                    <li>Completed 500+ hours of hands-on data science curriculum, with 1:1 mentorship from industry experts.</li>
                                    <li>Developed machine learning models, including one using radio-telescopic data to detect pulsar stars and another creating a custom beverage recommender system.</li>
                                    <li>Gained expertise in Python, SQL, data analysis, data visualization, hypothesis testing, and machine learning techniques.</li>
                                </ul>
                        </ul>
                        
                        <h3 class="mt-4">Skills</h3>
                        <ul>
                            <li>Python, SQL, HTML, CSS</li>
                            <li>Snowflake, MySQL, PostgreSQL, dbt, Pandas, NumPy</li>
                            <li>Airflow, Django, Airbyte, elementary, Bootstrap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}